html,
body,
.app {
  height: 100vh;
  background: rgba(102, 133, 122, 0.938);
  padding: 1em;
}
/* SidePanel */
.menu {
  padding-bottom: 2em;
}

/* messages */

.messages {
  height: 440px;
  overflow-y: scroll;

}

/* messagesForm */

.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

/* message */

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;

}

.message__image {
  padding: 1em;
}

.progress__bar {
  margin: 0.3 em 0 0 0 !important;
}
